body{
  text-align: center;
}

.header, .footer{
  background-color: darkturquoise;
}

.container{
  /*因为main、left、right都设置了float，脱离了文档流，所以需要把中间位置留出来，不然footer会挤上去*/
  overflow: hidden;
}

.main{
  /*设置main宽度自适应，不然left和right会挤上去*/
  width: 100%;
  float: left;
}

.inner-main{
  /*双飞翼布局的main的背景颜色应该设置在inner main元素上，不然背景颜色会有覆盖*/
  background-color: crimson;
  margin: 0 100px;
}

.left{
  background-color: coral;
  width: 100px;
  float: left;
  /*使left上移到上一行的最左边*/
  margin-left: -100%;
}

.right{
  background-color: pink;
  width: 100px;
  float: left;
  /*使right上移到上一行的最右边*/
  margin-left: -100px;
}
